footer.text-center.text-lg-start.bg-light.text-muted {
    margin-top: 240px;
}

section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom {
    background-color: darkseagreen;
}

section.foooter {
    background-color: black;
}