.divide {
    background-image: url(../../../assets/img/hr-line.png);
    width: 80%;
    height: 25px;
    position: absolute;
    right: 200px;
}

h2.title {
    text-align: center;
    padding: 20px;
}

.content-1 {
    margin: 40px;
    height: 250px;  
    border-style: groove;
    margin-top: 90px;
}
p.lorem{
    width: 70%;
    padding: 80px;
}

img.lorem-1 {
    width: 20%;
    margin-top: -318px;
    position: relative;
    left: 953px;
}