<div class="title-content">
    <h2 class="title">Tienda Online</h2>
</div>

<div class="divide"></div>

<div class="content-1">
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus error, fugiat sequi sapiente <br>
    bralias esse sint qui culpa laborum. Tempore delectus asperiores sunt enim molestiae neque! Obcaecati, quos ipsum?</p>
    <img class="lorem-1" src="../../../assets/img/sub-1.jpg" alt="" srcset="">
</div>

<div class="content-2">
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus error, fugiat sequi sapiente <br>
        bralias esse sint qui culpa laborum. Tempore delectus asperiores sunt enim molestiae neque! Obcaecati, quos ipsum?</p>
    <img class="lorem-1" src="../../../assets/img/sub-1.jpg" alt="" srcset="">
</div>

<div class="content-3">   
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus error, fugiat sequi sapiente <br>
        bralias esse sint qui culpa laborum. Tempore delectus asperiores sunt enim molestiae neque! Obcaecati, quos ipsum?</p>
    <img class="lorem-1" src="../../../assets/img/sub-1.jpg" alt="" srcset="">
</div>

