<div class="top-header">
    <div class="contact-info">
        <ul>
            <li class="contact">
                {{welcome}}
            </li>
            <li class="contact">
                <i class="fa-solid fa-phone"></i>{{phone}}
            </li>
        </ul>
    </div> 

</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="Active">
            <a class="nav-link active" aria-current="page" routerLink="">{{menu1}}</a>
          </li>
          <li class="nav-item" routerLinkActive="Active">
            <a class="nav-link" routerLink="/products">{{menu2}}</a>
          </li>
          <li class="nav-item" routerLinkActive="Active">
            <a class="nav-link" routerLink="/contacts">{{menu3}}</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" routerLinkActive="Active">{{login}}</button>
          <button class="btn btn-outline-success" routerLinkActive="Active">{{register}}</button>
        </form>
      </div>
    </div>
  </nav>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/img/img-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="title-1">{{titleslider1}}</h5>
          <p>{{contentslider1}}</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/img/img-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="title-2">{{titleslider2}}</h5>
          <p>{{contentslider2}}</p>
        </div>s
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/img-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="title-3">{{titleslider3}}</h5>
          <p>{{contentslider3}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="title-content">
    <h2 class="title">Tienda Online</h2>
  </div>

<div class="divide"></div>